{% extends 'base.html' %}

{% block title %}Department Login{% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class = links>
        <l> <b>BlueJobs </b> </l>
        <a href="{% url 'professor_select:course_select' %}">Professor Select </a>
        <a href="#"> Schedule Maker </a>
        <a href="#"> Rate a Professor </a>
    </div>

    <a href="{% url 'landing_page:home' %}">Sign Out</a>


    <h1>Professor Select </h1>
    <p>Choose a course to select a professor for </p>
    
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Add an Item
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            {% for course_code in course %}

          <li><a href="{{ course.get_absolute_url }}">{{course.course.name}}</a></li>
            {% endfor %}
        </ul>
      </div>

    <a href="#"><button> &#8592; </button></a>

{% endblock %}