{% extends 'base.html' %}
{% load static %}

{% block title %}Department Login{% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class = links>
        <l> <b>BlueJobs </b> </l>
        <a href="{% url 'professor_select:course_select' %}">Professor Select </a>
        <a href="#"> Schedule Maker </a>
        <a href="#"> Rate a Professor </a>
    </div>

    <a href="{% url 'landing_page:home' %}">Sign Out</a>

    {# placeholder for the user images #}
    {% if user_image_url %}
        <img src="{{ user_image_url }}" alt="User Image">
    {% else %}
        <img src="{% static 'images/default_user_image.jpg' %}" alt="User Image">
    {% endif %}


    <h1>Professor Select </h1>
    <p>Choose a course to select a professor for </p>



    <a href="#"><button> &#8592; </button></a>

{% endblock %}