{% extends 'base.html' %}

{% block title %}Course Select{% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class = links>
        <l> <b>BlueJobs </b> </l>
        <a href="{% url 'professor_select:course_select' %}">Professor Select </a>
        <a href="#"> Schedule Maker </a>
        <a href="#"> Rate a Professor </a>
    </div>

    <a href="{% url 'landing_page:home' %}">Sign Out</a>

    
    hello, {{ user.student_name }}! <br><br>

    <h1>Professor Select </h1>
    <p>Choose a course to select a professor for </p>
    
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Add an Item (NICS DID NOT USE THIS BUTTON CAN DELETE)
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            {% for course in added_courses %}

          <li> {{course}} 
            <a href = "{% url 'professor_select:professor_list' course.pk %} ">Add Professor</a>
            <a href = "{% url 'professor_select:course_remove' course.pk %} ">Remove {{course}}</a>
          </li>
            {% endfor %}
        </ul>
      </div>
    
    <form method="POST">
      {% csrf_token %}
      <select name = "course_list_select">
        {% for course in course_selection %}
          <option value ="{{course}}"> {{course.course_code}} </option>
        {% endfor %}
      </select> 
      <button type="submit">Add Course</button>
    </form> 
    <a href="#"><button> &#8592; </button></a>

{% endblock %}