{% extends 'base.html' %}

{% block title %} {{ professor }} {% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class = links>
        <l> <b>BlueJobs </b> </l>
        <a href="{% url 'professor_select:course_select' %}">Professor Select </a>
        <a href="#"> Schedule Maker </a>
        <a href="#"> Rate a Professor </a>
    </div>

    
    hello, {{ user.student_name }}! <br><br>

    {{ professor }} <br>
    {{ expertise }} <br>
    {{ workload }} <br>
    {{ grading }} <br>
    {{ approachability }} <br>
    {{ friendliness }} <br>
    {{ comment }} <br>
    
    <br>
    
    {% if is_added %} 
    <a href = "{% url 'professor_select:remove_professor' course_selected.pk professor.pk %}"> Remove {{ professor }} from Favorites </a><br>
    {% else %}
        <a href = "{% url 'professor_select:add_professor' course_selected.pk professor.pk %}">Add to Favorites </a><br>
    {% endif %}

    <br>
    <a href="{% url 'landing_page:home' %}">Sign Out</a>

    


        
{% endblock %}
