{% extends 'base.html' %}
{% load static %}

{% block title %} {{ professor }} {% endblock %} 
{% block content %}

    {# the links to other html files #}
    <ul class="navbar">
        <li><a class="bluejobsnav" href="{% url 'landing_page:homepage-student' %}">BlueJobs</a></li>
        <li><a href="{% url 'professor_select:course_select' %}">Professor Select</a></li>
        <li><a href="{% url 'professor_select:course_select' %}">Help </a></li>
        <li><a href="{% url 'professor_select:course_select' %}">Developers </a></li>
        <li><a class="contrast-signout" href="{% url 'landing_page:login' %}">Sign Out</a></li>
    </ul> 

    <div class="gradient-tile"></div>
    <img src="{% static 'profselect_icon.png' %}" class="landing-icon">

    
    hello, {{ user.student_name }}! <br><br>

    {{ professor }} <br>
    {{ expertise }} <br>
    {{ workload }} <br>
    {{ grading }} <br>
    {{ approachability }} <br>
    {{ friendliness }} <br>
    {{ comment }} <br>
    
    <br>
    
    {% if is_added %} 
    <a href = "{% url 'professor_select:remove_professor' course_selected.pk professor.pk %}"> Remove {{ professor }} from Favorites </a><br>
    {% else %}
        <a href = "{% url 'professor_select:add_professor' course_selected.pk professor.pk %}">Add to Favorites </a><br>
    {% endif %}

    <br>
    <a href="{% url 'landing_page:home' %}">Sign Out</a>

    


        
{% endblock %}
