{% extends 'base.html' %}
{% load static %}

{% block title %}Professor List{% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class = links>
        <l> <b>BlueJobs </b> </l>
        <a href="{% url 'professor_select:course_select' %}">Professor Select </a>
        <a href="#"> Schedule Maker </a>
        <a href="#"> Rate a Professor </a>
    </div>

    <a href="{% url 'landing_page:home'%}">Sign Out</a>

    {# placeholder for the user images #}
    {% if user_image_url %}
        <img src="{{ user_image_url }}" alt="User Image">
    {% else %}
        <img src="{% static 'images/default_user_image.jpg' %}" alt="User Image">

    {% endif%}

    
    hello, {{ user.student_name }}!

    {% endblock %}

        