{% extends 'base.html' %}
{% load static %}

{% block title %}Course Select{% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class="white-bg sched-maker">

      <ul class="navbar">
          <li><a class="bluejobsnav" href="{% url 'landing_page:homepage-student' %}">BlueJobs</a></li>
          <li><a href="{% url 'professor_select:course_select' %}">Professor Select</a></li>
          <li><a href="{% url 'schedule_maker:course_select' %}">Schedule Maker </a></li>
          <li><a href="{% url 'rate_a_professor:professor_list' %}">Rate a Professor</a></li>
          <li><a class="contrast-signout" href="{% url 'landing_page:login' %}">Sign Out</a></li>
      </ul> 

      <div class="gradient-tile"></div>
      <img src="{% static 'schedmaker_icon.png' %}" class="landing-icon">

      <div class="title-box">
        <h1 class="homepage-title">Schedule Maker</h1>
        <p class="homepage-subtitle">Input the courses you need to make a schedule for</p>
        <br><br><br>

        <form method="POST" class="course-form">
          {% csrf_token %}
          <select name="course_list_select">
            {% for course in course_selection %}
            <option value="{{ course }}">{{ course.course_code }}</option>
            {% endfor %}
          </select>
          &nbsp; &nbsp;
          <button type="submit" class="add-course-btn" {% if disabled %} disabled {% endif %}><i class="fas fa-plus"></i></button>
        </form>

        <div class="dropdown">
          <table class="table">
            <tbody>
              {% for course in added_courses %}
              {% if forloop.counter0|divisibleby:4 %}
              <tr>
              {% endif %}
                <td>
                  <h2>{{ course }}</h2>
                  <div class="remove-icon-container">
                    <a href="{% url 'schedule_maker:course_remove' course.pk %}" class="remove-icon"><i class="fas fa-minus"></i></a>
                  </div>
                </td>
              {% if forloop.last or forloop.counter0|add:1|divisibleby:4 %}
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <br><br>
          <a href="{% url 'schedule_maker:create-schedule' %}" class="blue-button">
            Create My Schedule
          </a>
        </div>
        
        
      </div>    

    </div>

    <a href="{% url 'landing_page:homepage-student' %}" class="back-arrow-dark">
      <i class="fas fa-arrow-left"></i>
    </a>

    <!-- <div class="title-box">
      <h1 class="homepage-title">Professor Select</h1>
      <p class="homepage-subtitle">Choose a course to select a professor for</p>
      <br>
      <div class="dropdown">
        <table class="table">
          <tbody>
            {% if added_courses %}
              {% for course in added_courses %}
                {% if forloop.counter0|divisibleby:4 %}
                  <tr>
                {% endif %}
                    <td>
                      <strong>{{ course }}</strong><br>
                      <div class="remove-icon-container">
                        <a href="{% url 'professor_select:course_remove' course.pk %}" class="remove-icon"><i class="fas fa-minus"></i></a>
                      </div>
                    </td>
                {% if forloop.counter|divisibleby:4 or forloop.last %}
                  {% if forloop.last %}
                      </tr><tr>
                      <td>
                        <form method="POST">
                          {% csrf_token %}
                          <select name="course_list_select">
                            {% for item in course_selection %}
                              <option value="{{ item }}">{{ item.course_code }}</option>
                            {% endfor %}
                          </select> 
                          <button type="submit">Add Course</button>
                        </form> 
                      </td>
                  {% else %}
                    </tr><tr>
                    {% if forloop.counter|add:1|divisibleby:4 %}
                      <td>
                        <form method="POST">
                          {% csrf_token %}
                          <select name="course_list_select">
                            {% for item in course_selection %}
                              <option value="{{ item }}">{{ item.course_code }}</option>
                            {% endfor %}
                          </select> 
                          <button type="submit">Add Course</button>
                        </form> 
                      </td>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% else %}
              <tr>
                <td>
                  <form method="POST">
                    {% csrf_token %}
                    <select name="course_list_select">
                      {% for item in course_selection %}
                        <option value="{{ item }}">{{ item.course_code }}</option>
                      {% endfor %}
                    </select> 
                    <button type="submit">Add Course</button>
                  </form> 
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    
    <form method="POST">
      {% csrf_token %}
      <select name = "course_list_select">
        {% for course in course_selection %}
          <option value ="{{course}}"> {{course.course_code}} </option>
        {% endfor %}
      </select> 
      <button type="submit">Add Course</button>
    </form> 
    <a href="#"><button> &#8592; </button></a>

    </div> -->
{% endblock %}