{% extends 'base.html' %}
{% load static %}

{% block title %}Course Select{% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class="white-bg prof-select">

      <ul class="navbar">
          <li><a class="bluejobsnav" href="{% url 'landing_page:homepage-student' %}">BlueJobs</a></li>
          <li><a href="{% url 'professor_select:course_select' %}">Professor Select</a></li>
          <li><a href="{% url 'professor_select:course_select' %}">Help </a></li>
          <li><a href="{% url 'professor_select:course_select' %}">Developers </a></li>
          <li><a class="contrast-signout" href="{% url 'landing_page:login' %}">Sign Out</a></li>
      </ul> 

      <div class="gradient-tile"></div>
      <img src="{% static 'profselect_icon.png' %}" class="landing-icon">

      <b>ADDED CLASSES </b><br> <br>
      <a href="{% url 'schedule_maker:reset-schedule' %}">
        Reset Schedule
      </a>
      <br>

      {% for class in added_classes %}
        {{ class }} ({{class.section.day_schedule}} {{class.section.time_schedule}}) <br>
      {% endfor %}  

      <br>

      {% for required in student.required_courses.all %}
      {{ required.course }}
      {{ required.get_selected_class.section.section_letter }}
      <a href="{% url 'schedule_maker:reset-class' required.course.pk %}"> Reset Course Selection</a>
      
      {% if required.preferred_classes %}
      <form method="POST">
        {% csrf_token %}
          <select name="class_select">
            {% for class in required.preferred_classes %}
                <option value="{{ class.pk }}" 
                  {% if class == required.get_selected_class %}
                    selected
                  {% elif class.section.section_letter in sections and required.get_selected_class.section.section_letter != class.section.section_letter %} 
                      disabled
                  {% endif %}>
                  [{{ class.section }}]{{ class.section.day_schedule }} {{ class.section.time_schedule }} {{class.professor}}
                  {% if class.section.section_letter in sections and required.get_selected_class.section.section_letter != class.section.section_letter %}
                    (SCHEDULE CONFLICT)
                  {% elif class == required.get_selected_class %}
                    (SELECTED)
                  {% endif %}
                </option>
            {% endfor %}
          </select>
        &nbsp; &nbsp;
        <button type="submit">Add Class</button>
      </form>

      {% else %}
          <br>You have not selected a professor for {{ required.course }} . 
          
          <a href="{% url 'professor_select:professor_list' required.course.pk %}">Select {{ required.course }} Professors </a>
        {% endif %}
      <br>
      {% endfor %}

      <a href="{% url 'schedule_maker:display-schedule' %}">
        Display Schedule
      </a>
      
    </div>

    <a href="{% url 'schedule_maker:course_select' %}" class="back-arrow-dark">
      <i class="fas fa-arrow-left"></i>
    </a>
{% endblock %}