@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap');

body {
	background: linear-gradient(120deg, #023E8A, #023E8A, #5ABDDC, #0D9CCA);
  background-size: 300% 300%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.white-bg {
  position: relative;
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden; overflow-x: hidden;
  z-index: 1;
}

.scrollable{
  overflow-y: visible !important;
}

.back-arrow {
  position: fixed;
  bottom: 50px;
  left: 40px;
  width: 10px;
  height: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 9999;
}

.back-arrow-dark {
    position: fixed;
    bottom: 50px;
    left: 40px;
    width: 10px;
    height: 10px;
    font-size: 30px;
    color: #02408B;
    cursor: pointer;
    z-index: 9999;
  }


/* ================= Professor Select Page ================= */



.landing-icon {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 190px;
  left: 1100px;
  
  transform: translateY(0);
  animation: bob2 2s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  z-index: 3;
}

.gradient-tile {
  position: absolute;
  background-image: linear-gradient(230deg, #023E8A, #5ABDDC, #0D9CCA);
  
  border-radius: 40px;
  width: 600px;
  height: 100vh;
  top: 0px;
  left: 1200px;
  z-index: 2;
}

.white-bg .title-box{
  position: absolute;
  left: 130px;
  top: 180px;
}

.white-bg .homepage-title {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  color: #02408B;
  
  padding-bottom: -40px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 110px;
}

.white-bg .homepage-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: #02408B;
  font-size: 30px;
  
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}

/* ================= Log In Page ================= */

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  max-width: 320px;
  border-radius: 20px;
  background: transparent;
}

.login input {
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 2px;
  background-color: white;
  
  font-family: "Noto Sans Khojki", sans-serif;
  font-style: normal;
}

.login input[type=text],
.login input[type=password] {
  border: 2px solid white;
  border-radius: 10px;
  transition: .2s;
  color: #02408B;
}

.login input[type=submit] {
  border: none;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;  
  transition: 0.4s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background: white;
  color: #02408B;
}

.login h2 {
  margin: 20px 0 0; 
  color: white;
  font-size: 28px;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.login h2,
.login p,
.login a {
  text-align: center;    
}

.login a {
  text-decoration: none;  
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

.login p {
  margin-top: -5px;
  margin-bottom: -10px;
  color: white;
  font-family: "Noto Sans Khojki", sans-serif;
  font-size: 15px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  border-color: white;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 15px;
}

.links a:first-child {
  text-align: center;
  color: white;
  font-family: "Noto Sans Khojki", sans-serif;
  font-size: 15px;
}

/* ================= Sign Up Choose Page ================= */

.signup-choose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: transparent;
}

.signup-choose h2 {
  margin: 20px; 
  margin-bottom: -15px;
  color: white;
  font-size: 28px;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 38px;
}

.signup-choose p {
  margin-bottom: 40px;
  color: white;
  font-family: "Noto Sans Khojki", sans-serif;
  font-size: 20px;
}

.signup-choose h2,
.signup-choose p,
.signup-choose a {
  text-align: center;    
}

.signup-choose a {
  text-decoration: none;  
  font-size: .8em;
}

/* ================= Sign Up Pages ================= */

.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  padding: 50px 50px;
  max-width: 500px;
  border-radius: 20px;
  background: #fff;
}

.signup input {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 2px; 
  font-family: "Noto Sans Khojki", sans-serif;
}

.signup input[type=text],
.signup input[type=password] {
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  transition: .2s;
  transition: all .2s ease-in-out;
}

.signup input[type=text]:hover,
.signup input[type=password]:hover {
  border: 1px solid #02408B;
  outline: none;
} 

.signup input[type=submit] {
  border: none;
  border-radius: 20px;
  background: #02408B;
  color: white;
  font-weight: bold;
  transition: 0.4s;
  margin: 20px 0px;
  margin-bottom: -20px;
  background: linear-gradient(120deg, #023E8A, #5ABDDC, #0D9CCA);
  background-size: 400%;
}

.signup input[type=submit]:hover {
  background-size: 100%;
}

.signup h2 {
  margin: 20px 0 0;
  margin-top: -20px;
  color: #07599D;
  font-size: 28px;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.signup p {
  margin-bottom: 10px;
  color: black;
  font-family: "Noto Sans Khojki", sans-serif;
  font-size: 15px;
}

.signup h2,
.signup p,
.signup a {
  text-align: center;    
}

.signup a {
  text-decoration: none;  
  font-size: .8em;
}

.signup a:visited {
  color: inherit;
}

.signup a:hover {
  text-decoration: underline;
}

.signup .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 65px;
}

.signup .row .col1{
  position: relative;
  width: 130%;
  transition: 0.5s;
}

.signup .row .col2{
  position: relative;
  width: 87%;
  transition: 0.5s;
  margin-left: 30px;
}

.title-box{
  position: absolute;
  left: 180px;
  top: 250px;
}

/* ================= Home Page ================= */

.homepage-title {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  color: white;
  padding-bottom: -40px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 120px;
}

.title-box a {
  text-decoration: none;
}

.homepage-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 25px;
  
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}

.moving-tiles {
  position: absolute;
  border-radius: 20px;
  background: white;
  padding: 15px;
  width: 130px;
  height: 195px;
  opacity: 0.3;
  transform: translateY(0);
  animation: bob 2s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.tile1 {
  left: 830px; 
  top: 200px;
  opacity: 0.3;
}

.tile2 {
  left: 830px;
  top: 450px;
  opacity: 0.6;
}

.tile3 {
  left: 830px;
  top: -50px;
  opacity: 0.2;
}

.tile4 {
  left: 1015px; 
  top: 90px;
  animation: bob2 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.tile5 {
  left: 1015px;
  top: 340px;
  opacity: 0.2;
  animation: bob2 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.tile6 {
  left: 1015px;
  top: -160px;
  opacity: 0.6;
  animation: bob2 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.tile7 {
  left: 1015px;
  top: 590px;
  animation: bob2 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.tile8 {
  left: 1200px; 
  top: 200px;
  opacity: 0.6;
  animation-delay: 1s;
}

.tile9 {
  left: 1200px;
  top: 450px;
  opacity: 0.2;
  animation-delay: 1s;
}

.tile10 {
  left: 1200px;
  top: -50px;
  opacity: 0.2;
  animation-delay: 1s;
}

.tile11 {
  left: 830px;
  top: 700px;
  opacity: 0.8;
}

.tile12 {
  left: 1200px;
  top: 700px;
  opacity: 0.4;
  animation-delay: 1s;
}

.tile13 {
  left: 1015px;
  top: 840px;
  opacity: 0.2;
  animation: bob2 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.button {
  width: auto; height: auto;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  min-width: 200px;
  transition: 0.3s;
  padding-bottom: 8px;
  
  color: white;
  line-height: 40px;
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.button:hover{
  color: #02408B;
  background-color: white;
}

/* ================= Homepages ================= */

.homepage .homepage-title {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  color: #02408B;
  padding-bottom: -40px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 90px;
}

.homepage .homepage-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: #02408B;
  font-size: 25px;
  
  font-family: "Noto Sans Khojki", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}

.container .box {
  margin-top: 10px;
  margin-left: -50px;
  display: table;
  border-spacing: 50px;
}

.container .box .box-row {
  display: table-row;
  height: 220px;
  overflow: hidden;
}

.container .box .box-cell {
  display: table-cell;
  width: 250px;
  padding: 10px;
  border: 3px solid #02408B;
  text-align: center;
  vertical-align: bottom;
  transition: transform 0.5s linear;
  border-radius: 20px;
  
  color: #07599D;
  font-family: "Bowlby One SC", sans-serif;
  font-size: 15px;
}

.container .box .box-cell img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  transform: translateY(0px);
  transition: transform 0.5s ease; /* Add smooth transition effect for the image */
}

.container .box .box-cell:hover img {
  transform: scale(1.15) translateY(-10%);
  animation: bob2 1.5s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.container .box .box-cell:hover {
  transform: scale(1.1);
  border: none;
  color: white;
  font-size: 18px;
  background-image: linear-gradient(230deg, #023E8A, #5ABDDC, #0D9CCA);
  box-shadow: 10px 10px 8px 1px #F2F3F5;
}

.container .box .box-cell-extra {
  display: table-cell;
  width: 240px;
  padding: 10px;
  background-color: #07599D;
  opacity: 0.2;
  border-radius: 20px;
  
  color: #07599D;
  font-family: "Bowlby One SC", sans-serif;
  font-size: 15px;
}

.homepage-title-dept {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 55px;
  font-style: normal;
  color: #02408B;
  padding-bottom: -40px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 55px;
}

.homepage-dept .title-box {
  top: 150px;
  padding-right: 100px;
}

.homepage-dept .title-box p {
  margin-top: 20px;
}

.homepage-dept .container .box .box-cell img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transform: translateY(0px);
  transition: transform 0.5s ease; /* Add smooth transition effect for the image */
}

/* ================= Professor Select ================= */

.prof-select .title-box{
    position: absolute;
    left: 130px;
    top: 120px !important;
  }

.contrast-signout {
  color: white !important;
}

.table {
  border-collapse: separate;
  border-spacing: 30px;
  margin-left: -30px;
}

/* CSS for cell styling */
.table td {
    position: relative;
    text-align: center;
    min-width: 160px;
    max-width: 160px; /* Set the width of each cell to 30px */
    padding: 10px;
    border-radius: 15px;

    color: #02408B;
    font-family: "Noto Sans Khojki", sans-serif;

    background-color: white;
    outline: 2px solid #02408B;
    cursor: pointer;
    
    transition: 0.5s ease;
}

.table td:hover {
    background-color: #0E92C4; /* Change background color to #0E92C4 */
    color: white; /* Change text color to white */
    outline: 2px solid white;
}

.table td h2 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* CSS for remove icon container */
.remove-icon-container {
    background-color: #D9D9D9;
    width: 30px; /* Set the width of the container */
    height: 30px; 
    border-radius: 50%;
    position: absolute;
    top: -15px; /* Adjust as needed to position the icon */
    right: -15px; /* Adjust as needed to position the icon */
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* CSS for remove icon */
  .remove-icon {
    font-size: 10px;
    text-decoration: none;
  }

 /* Style the select dropdown */
.course-form select {
    width: 160px; /* Adjust as needed */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    outline: none;
  }
  
  /* Style the options within the dropdown */
  .course-form select option {
    padding: 10px;
  }
  
  /* Adjust the position of the button and the select */
  .course-form {
    display: flex;
    align-items: center;
  }

  .add-course-btn {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 10px;;
    background-color: #e8e8e8; /* Change to your desired background color */
    color: #07599D; /* Change to your desired text color */
    border: none;
    cursor: pointer;
    font-size: 20px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-course-btn i {
    font-size: 0.75em; /* Adjust the font size to make strokes thinner */
  }
  
  .add-course-btn:hover {
    background-color: #dedede; /* Change to your desired hover color */
  }
  
  .add-course-btn:focus {
    outline: none;
  }

/* ================= Professor List ================= */

.prof-list *,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prof-list .title-box {
    position: absolute;
    left: 130px;
    top: 110px !important;
}

#cCarousel {
    position: relative;
    width: 1270px;
    max-width: 1540px;
    margin: 0px;
  }
  
  #cCarousel .arrow {
    position: absolute;
    top: 50%;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    font-size: 26px;
    color: white;
    background: #00000072;
    cursor: pointer;
  }
  
  #cCarousel #prev {
    left: 0px;
  }
  
  #cCarousel #next {
    right: 0px;
  }
  
  #carousel-vp {
    width: 1110px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
  @media (max-width: 510px) {
    #carousel-vp {
      width: 250px;
    }
  }
  
  #cCarousel #cCarousel-inner {
    display: flex;
    position: absolute;
    transition: 0.3s ease-in-out;
    gap: 30px;
    left: 0px;
  }
  
  .cCarousel-item {
    width: 250px;
    height: 365px;
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0;
    transform: translateY(0);
    transition: all .5s ease-in-out;
  }

  .cCarousel-item:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 4px 5px rgba(0, 0, 0, 0.2);
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .cCarousel-item img {
    width: 180px; height:180px;
    object-fit: cover;
    border-radius:50%;
    object-fit: cover;
    color: white;
    margin: 30px auto;
    margin-bottom: 0px;
    display: block;
  }
  
  .cCarousel-item .infos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: white;
    color: black;
    padding: 25px;
  }
  
  .star-container {
    position: absolute;
    top: 15px; /* Adjust the top position as needed */
    left: 205px; /* Adjust the left position as needed */
    text-align: center;
    color: #D9D9D9;
  }

  .star-container-fave {
    position: absolute;
    top: 15px; /* Adjust the top position as needed */
    left: 205px; /* Adjust the left position as needed */
    text-align: center;
    color: #FCB45A;
  }
  
  .fa-star {
    font-size: 24px;
  }
  
  .prof-list h3 {
    font-family: "Bowlby One SC", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #07599D;
  }
  
  .prof-list h2 {
    font-family: "Bowlby One SC", sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: #07599D;
  }
  
  .prof-list small {
    font-family: "Noto Sans Khojki", sans-serif;
    font-size: 20px;
  }

  .prof-list .infos p {
    font-family: "Noto Sans Khojki", sans-serif;
    color: #07599D;
  }

/* ================= Professor Details ================= */

.white-tile {
    position: absolute;
    background-color: white;
    text-align: center;
    border-radius: 60px 0 0 60px;
    width: 595px;
    height: 100vh;
    top: 0px;
    left: 940px;
    z-index: 500;
}

.prof-details .title-box {
    position: absolute;
    left: 130px;
    top: 110px !important;
    max-width: 750px;
}

.prof-details .homepage-title {
    max-width: 800px;
    font-size: 60px !important;
    line-height: 1.2;
}

.prof-details table p {
    margin-bottom: 10px;
}

.prof-details table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 30px;
}

.prof-details th,
.prof-details td {
    border: none; /* Removes borders */
    padding-right: 20px;
    text-align: left;
}

.prof-details td {
    width: 300px;
    height: 100px;
    color: white;
    font-family: "Noto Sans Khojki", sans-serif;
    font-size: 20px;
}

.prof-details table tr {
    margin-top: 80px;
}

.prof-details p {
    color: white;
    font-family: "Noto Sans Khojki", sans-serif;
    font-size: 20px;
}

.prof-details small {
    font-family: "Noto Sans Khojki", sans-serif;
    font-size: 20px;
}

.prof-details h3 {
    font-family: "Noto Sans Khojki", sans-serif;
    font-size: 20px;
    color: #07599D;
    margin-top: 20px;
    margin-left: 0px;
}

.prof-details a {
    font-family: "Noto Sans Khojki", sans-serif;
    font-size: 20px;
    color: #07599D;
}

.prof-details h2 {
    font-family: "Bowlby One SC", sans-serif;
    font-size: 90px;
    letter-spacing: 1px;
    color: #07599D;
    margin-top: -30px;
    margin-bottom: 0px;
    margin-left: 0px;;
  }

.progress {
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.progress-value {
    font-size: 13px;
}

.prof-details .comment-box {
  border: 2px solid white;
  border-radius: 15px;
  margin-top: -10px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.prof-details .comment-box p {
    font-size: 15px;
}

.prof-details img{
    margin-top: 0px;
    margin-left: 0px;
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 9999;
}

.contrast-signout2 {
  color: #02408B !important;
}

.prof-details .star-container {
  position: absolute;
  top: 60px; /* Adjust the top position as needed */
  left: 60px; /* Adjust the left position as needed */
  transform: scale(1.7);
  text-align: center;
  color: #D9D9D9;
}

.prof-details .star-container-fave {
  position: absolute;
  top: 60px; /* Adjust the top position as needed */
  left: 60px; /* Adjust the left position as needed */
  text-align: center;
  transform: scale(1.7);
  color: #FCB45A;
}

.prof-details a {
  border: none;
  border-radius: 20px;
  background: #02408B;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s;
  margin: 20px 0px;
  margin-bottom: -20px;
  background: linear-gradient(120deg, #023E8A, #5ABDDC, #0D9CCA);
  background-size: 400%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prof-details a:hover {
  background-size: 100%;
}

/* ================= Rate a Prof ================= */

.rate-a-prof .title-box{
  position: absolute;
  left: 130px;
  top: 120px !important;
}

.cCarousel *,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rate-a-prof .cCarousel-item {
  border: none;
  border-radius: 30px;
}

.rate-a-prof .cCarousel-item:hover {
  transform: translateY(0);
  box-shadow: 5px 5px 4px 5px rgba(0, 0, 0, 0.2);
}

.rate-a-prof .cCarousel-item,
.rate-a-prof .infos {
  background-color: #07599D;
}

.rate-a-prof h3 {
  font-family: "Noto Sans Khojki", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  font-weight: bolder;
  margin-top: -15px;
}

.white-button {
  background-color: white; /* Blue color */
  border: none;
  color: #02408B;
  padding: 5px 30px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: bolder;
  border-radius: 15px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
  transition: all .5s ease-in-out;
}

.white-button:hover {
  background-color: rgb(229, 229, 229); /* Darker blue on hover */
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.2);
}

/* ================= Rate a Prof ================= */

.rating-form .title-box {
  top: 120px !important;
  min-width: 1200px;;
}

.rating-form .homepage-title {
  font-size: 90px;
  margin-top: -30px;
}

.rating-containter {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
}

.rating-form img {
  margin-top: 0px;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 9999;
}

.rating-form table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 70px;
}

.rating-form td {
  border: none;
  padding-right: 50px;
  padding-bottom: 5px;
}

.rating-form input[type=text],
.rating-form .form-score {
  border-radius: 15px !important; 
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid #07599D;
  border-radius: 2px;
  background-color: white;
  
  font-family: "Noto Sans Khojki", sans-serif;
  font-style: normal;
}

.course-box {
  display: flex;
}
.rating-form h2 {
  font-family: "Noto Sans Khojki", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.rating-form .form-course {
  border-radius: 15px !important; 
  width: 180px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid #07599D;
  border-radius: 2px;
  background-color: white;
  
  font-family: "Noto Sans Khojki", sans-serif;
  font-style: normal;
}

.rating-form .blue-button {
  background-color: #07599D; /* Blue color */
  border: none;
  color: white;
  padding: 5px 50px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
  transition: all 0.5s ease-in-out;
}

.rating-form p {
  margin-top: 5px;
  margin-bottom: -5px;
  font-family: "Noto Sans Khojki", sans-serif;  
}

.rating-form .left {
  text-align: left;
}

.form-score:visited,
.form-score:hover,
.form-score:active,
.form-score:focus-visible {
  border: 2px solid #07599D !important;
}

textarea.review {
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 15px !important;
  background-color: white;
  border: 2px solid #07599D; /* Adding border */
  resize: vertical; /* Allowing vertical resizing */
  font-family: "Noto Sans Khojki", sans-serif;
  font-style: normal;
}

.review {
  height: 200px;
  vertical-align: top;
}

.wider {
  vertical-align: top;
  width: 500px;
  text-align: right;
}

.rating-form input[type=submit] {
  background-color: #07599D; /* Blue color */
  border: none;
  color: white;
  padding: 5px 50px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
}

.rating-form .mini-blue-button {
  background-color: #07599D; /* Blue color */
  border: none;
  color: white;
  padding: 5px 30px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
}

.centered-div {
  text-align: center;
}

/* ================= Professor Forum ================= */

.prof-forum .title-box {
  top: 120px !important;
  min-width: 1200px;
}

.prof-forum .homepage-title {
  font-size: 90px;
  margin-top: -30px;
}

.prof-forum img {
  margin-top: 0px;
  margin-right: 20px;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 9999;
}

.forum-box {
  margin-left: 450px;
  width: calc(100%-450px);
}

.forum-entry {
  position: relative;
  background-color: #EDEDED;
  border-radius: 25px;
  display: flex; /* Use flexbox for layout */
  align-items: flex-start; /* Align items vertically */
  width: 800px;
  padding: 20px 20px;
  margin-bottom: 40px;
  transition: all 0.5s ease-in-out;
}

.forum-entry:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 3px 4px rgba(0, 0, 0, 0.2);
}

.prof-forum .forum-entry img {
  margin-top: 0px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 9999;
}

.forum-entry h4 {
  font-family: "Bowlby One SC", sans-serif;
  letter-spacing: 1px;
  color: #02408B;
  margin-block-start: 0px; margin-block-end: 0px;
  font-size: 18px;
}

.forum-entry .date {
  font-family: "Noto Sans Khojki", sans-serif;
  margin-block-start: -4px; margin-block-end: 0px;
  color: #8D8D8D;
  font-size: 14px;
}

.forum-entry .rate-score {
  font-family: "Bowlby One SC", sans-serif;
  color: #07599D;
  font-size: 14px;
  margin-block-start: 8px; margin-block-end: 0px;
}

.forum-entry .rate-comment {
  font-family: "Noto Sans Khojki", sans-serif;
  margin-block-start: 4px; margin-block-end: 0px;
  line-height: 1.5;
  color: #02408B;
}

.upvote-container {
  position: absolute;
  top: -15px; /* Adjust the top position as needed */
  right: -15px; /* Adjust the left position as needed */
  text-align: center;
  color: #8D8D8D;

  background-color: #D9D9D9;
  padding: 10px 10px;
  border-radius: 50%;
}

.upvote-container-fave {
  position: absolute;
  top: -15px; /* Adjust the top position as needed */
  right: -15px; /* Adjust the left position as needed */
  text-align: center;
  color: white;

  background-color: #02408B;
  padding: 10px 10px;
  border-radius: 50%;
}

.fa-arrow-up {
  font-size: 24px;
}

.upvote-count {
  position: absolute;
  top: 23px; /* Adjust the top position as needed */
  right: 50px; /* Adjust the left position as needed */
  text-align: center;
  color: white;
  font-family: "Noto Sans Khojki", sans-serif;
  font-size: 13px;
  background-color: #02408B;
  padding: 5px 30px;
  border-radius: 20px;
}

.prof-forum .mini-blue-button {
  border: 2px solid #07599D;
  background-color: none; /* Blue color */
  color: #07599D;
  padding: 5px 30px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}

.prof-forum .mini-blue-button:hover {
  background-color: #07599D; /* Blue color */
  border: 2px solid white;
  color: white;
}

.filter-box {
  position: absolute;
  top: 258px;
  width: 380px;
  border-radius: 15px;
  border: 2px solid #07599D;
  background-color: white;
  text-align: center;
  padding: 20px 10px;
}

.filter-box h2 {
  font-family: "Noto Sans Khojki", sans-serif;
  text-align: left;
  margin-left: 15px;
  margin-top: -5px;
  font-size: 22px;
  color: #07599D;
}

.sort-buttons input[type="radio"] {
  display: none;
}

.sort-buttons label,
.filter-box button[type="submit"] {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #07599D;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 130px;
  font-family: "Noto Sans Khojki", sans-serif;
  font-size: 15px;
  color: #07599D;
  transition: all 0.5s ease-in-out;
}

.filter-box button[type="submit"] {
  width: 180px;
  border: none;
  background-color: #07599D !important;
  color: white !important;
}

.filter-box button[type="submit"]:hover {
  border: none;
  box-shadow: 4px 4px 3px 4px rgba(0, 0, 0, 0.2);
}

.sort-buttons input[type="radio"]:checked + label {
  background-color: #07599D;
  color: white;
}


/* ================= Schedule Maker  ================= */

.sched-maker .title-box{
  position: absolute;
  left: 130px;
  top: 110px !important;
}

.sched-maker .blue-button {
  background-color: #07599D; /* Blue color */
  border: none;
  color: white;
  padding: 5px 50px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
}

.blue-button:hover {
  background-color: #064d87; /* Darker blue on hover */
}

.sched-maker .table td {
  cursor: default !important;
}

/* ================= Schedule Create Page ================= */

.sched-create .title-box{
  left: 110px !important;
  top: 100px !important;
  /* background-color: lightgrey; */
  width: 1300px;
}

.sched-create .table {
  border-collapse: separate;
  border-spacing: 30px;
  margin-left: 15px;
  width: 100%;
}

.sched-create .course-title {
  font-family: "Bowlby One SC", sans-serif;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}

/* CSS for cell styling */
.sched-create .table .added {
  
  position: relative;
  text-align: center;
  height: 150px;
  width: auto;
  padding: 15px;
  border-radius: 15px;

  color: white;
  font-family: "Noto Sans Khojki", sans-serif;

  background-color: #02408B;
  outline: 2px solid #02408B;
  cursor: default;
  
  transition: all 0.5s ease;
}

.warning {
  margin-top: -10px;
}

.sched-create .table .not-added {
  
  position: relative;
  text-align: center;
  height: 150px;
  width: auto;
  padding: 15px;
  border-radius: 15px;

  color: #02408B;
  font-family: "Noto Sans Khojki", sans-serif;

  background-color: white;
  outline: 2px solid #02408B;
  cursor: default;
  
  transition: all 0.5s ease;
}

.sched-create .table td:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 3px 4px rgba(0, 0, 0, 0.2);
}

.sched-create .course-form {
  display: block !important;
  align-items: center;
}

.sched-create .add-button {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 10px;;
  background-color: #e8e8e8; /* Change to your desired background color */
  color: #07599D; /* Change to your desired text color */
  border: none;
  cursor: pointer;
  font-size: 20px; /* Adjust as needed */
}

.sched-create .blue-button {
  background-color: #07599D; /* Blue color */
  border: none;
  color: white;
  padding: 5px 50px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
  transition: all .5s ease-in-out;
}

.blue-button:hover {
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.2);
}

.sched-create .white-button {
  background-color: white; /* Blue color */
  border: none;
  color: #07599D;
  padding: 5px 50px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border: 2px solid #07599D;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
}

.sched-create .mini-blue-button {
  background-color: #07599D; /* Blue color */
  border: none;
  color: white;
  padding: 5px 30px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-family: "Noto Sans Khojki", sans-serif;
}

.reset-icon-container {
  background-color: #D9D9D9;
  width: 40px; /* Set the width of the container */
  height: 40px; 
  border-radius: 50%;
  position: absolute;
  top: -15px; /* Adjust as needed to position the icon */
  right: -15px; /* Adjust as needed to position the icon */
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* CSS for remove icon */
.reset-icon {
  font-size: 15px;
  text-decoration: none;
  color: #07599D;
}

.reset-icon:visited,
.reset-icon:hover,
.reset-icon:active {
  color: #07599D
}

/* ================= Schedule Display ================= */

.sched-display .title-box{
  left: 110px !important;
  top: 90px !important;
  /* background-color: lightgrey; */
  width: 1300px;
}

.sched-display .homepage-title {
  font-size: 50px !important;
  margin-bottom: -10px;
}

.schedule-table {
  width: 100%;
  border-spacing: 15px;
  color: white;
  text-align: center;
  font-family: "Noto Sans Khojki", sans-serif;
}

.schedule-table td {
  text-align: center;
  width: auto;
}

.schedule-table th {
  text-align: center;
  font-size: 18px;
}

.time-node {
  font-size: 18px;
}

.class-node {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.class-node:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  color: #07599D;
  transform: scale(1.05);
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.2);
}


.empty-node {
  background-color: transparent;
}

.pseudo-white-bg {
  position: relative;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden; overflow-x: hidden;
  z-index: 1;
}

/* ================= View Sched ================= */

.view-sched .title-box {
  top: 120px;
}

.view-sched .homepage-subtitle {
  font-size: 28px !important;
}

.view-sched .gradient-tile {
  position: fixed;
  background-image: linear-gradient(230deg, #023E8A, #5ABDDC, #0D9CCA);
  
  border-radius: 40px;
  width: 600px;
  height: 100vh;
  top: 0px;
  left: 1220px;
  z-index: 2;
}

.view-sched .landing-icon {
  position: fixed;
  width: 350px;
  height: 350px;
  top: 190px;
  left: 1150px;
  
  transform: translateY(0);
  animation: bob2 2s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  z-index: 3;
}

.sched-table {
  margin-left: 20px !important;
  font-family: "Noto Sans Khojki", sans-serif;
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.sched-table tr:first-child {
  border-top: none;
  background: #07599D;
  color: #fff;
}

.sched-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.sched-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.sched-table th {
  display: none;
}

.sched-table td {
  display: block;
}

.sched-table td:first-child {
  margin-top: .5em;
}

.sched-table td:last-child {
  margin-bottom: .5em;
}

.sched-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.sched-table th,
.sched-table td {
  text-align: left;
}

.sched-table {
  color: #333;
  border-radius: .5em;
  overflow: hidden;
}

.sched-table tr {
  border-color: #bfbfbf;
}

.sched-table th,
.sched-table td {
  padding: .5em 1em;
}

@media screen and (max-width: 601px) {
  .sched-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .sched-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .sched-table td:before {
    display: none;
  }
  .sched-table th,
  .sched-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .sched-table th:first-child,
  .sched-table td:first-child {
    padding-left: 0;
  }
  .sched-table th:last-child,
  .sched-table td:last-child {
    padding-right: 0;
  }
  .sched-table th,
  .sched-table td {
    padding: 1em !important;
  }
}

/* ================= Upload Sched ================= */

.file-upload {
  font-family: "Noto Sans Khojki", sans-serif;
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  color: #fff;
  background: #07599D;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.file-upload-btn:hover {
  background: #0967b4;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #07599D;
  position: relative;
  transition: all .2s ease;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #e6e6e6;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  color: #07599D;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  /* width: 200px; */
  margin: 0;
  border: 2px solid #02408B;
  color: #02408B;
  background: white;
  padding: 10px 40px;
  border-radius: 10px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.remove-image:hover {
  /* border: 2px solid white; */
  background: #ebebeb;
  color: white;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.upload-sched .upload-success {
  margin-block-start: 0; margin-block-end: 0;
  font-family: "Noto Sans Khojki", sans-serif;
  color: #02408B;
  font-size: 20px;
}

.upload-sched .title-box {
  top: 150px;
}

/* ================= Navbar ================= */

.navbar {
    position: relative;
    list-style-type: none;
    margin: 25px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    z-index: 9999;
}

.navbar li:last-child {
  float: right;
}

.bluejobsnav{
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  border-radius: 10px;
  transition: 0.3s;
  float: left;
}

.white-bg li a {
  color: #02408B;
}

/* ================= Animations Keyframes ================= */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(35px);
  }
}

@keyframes bob2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-35px);
  }
}