{% extends 'base.html' %}

<!-- Code Written By Christianneil Ocampo -->

{% block title %}Professor List{% endblock %} 
{% block content %}

    <ul class="navbar">
        <li><a class="bluejobsnav" href="{% url 'landing_page:home' %}">BlueJobs</a></li>
        <li><a href="{% url 'landing_page:about' %}">About</a></li>
        <li><a href="https://drive.google.com/file/d/1EDwQv7JSJN1zcOmFLoDLm2KkGK_FGPL0/view?usp=drive_link" target="_blank">Help</a></li>
        <li><a href="{% url 'landing_page:developers' %}">Developers</a></li>
        <li><a href="#"></a></li>
    </ul>

    <div class="about fade-in-from-bottom">
        <div class="centered-div">
            <h1 class="homepage-title">
                <span>B</span>
                <span>l</span>
                <span>u</span>
                <span>e</span>
                <span>J</span>
                <span>o</span>
                <span>b</span>
                <span>s</span>
            </h1>
            <br><br>
            <p class="homepage-subtitle">
                BlueJobs is your ultimate assistant tool, designed to streamline the student enlistment experience. <br><br>
    
                BlueJobs brings together the essence of Ateneo's signature hue, signified by <strong>"Blue,"</strong> with its commitment to meeting user needs, signified by <strong>"Jobs."</strong> This platform is focused on simplifying enlistment planning, offering a unified solution for students. <br><br>
    
                BlueJobs was created with the challenges of enlistment in mind: navigating class schedules, evaluating professors, and planning out personalized schedules to follow. We aim to provide a centralized hub where users can seamlessly search classes, view and create professor evaluations, and design schedules tailored to their preferences. <br><br>
    
                With BlueJobs, the enlistment process becomes more efficient, empowering students to take control of their academic journey with ease. Discover the difference with <strong>BlueJobs: crafting your student success, one schedule at a time!</strong>
            </p>
            <br><br><br>
        </div>
    </div>

    <a href="{% url 'landing_page:home' %}" class="back-arrow">
    <i class="fas fa-arrow-left"></i>
    </a>

{% endblock %}