{% extends 'base.html' %}

{% block title %}Student Home{% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class = links>
        <l> <b>BlueJobs </b> </l>
        <a href="{% url 'landing_page:about' %}">About </a>
        <a href="{% url 'landing_page:help' %}">Help </a>
        <a href="{% url 'landing_page:developers' %}">Developers </a>
    </div>

    <a href="{% url 'landing_page:login' %}">Sign Out</a>
    
    <h1>Welcome, {{ user.student_name }}!</h1>
    <p>Select among the BlueJobs services to get started </p>

    <a href="{% url 'professor_select:course_select' %}" class="box-cell box1">
        <img src="https://i.postimg.cc/PCXbmQhK/Untitled-design-2.png" alt="Professor Select">
        <br>
        Professor Select
    </a> <br>

    <a href="{% url 'professor_select:course_select' %}" class="box-cell box2">
        <img src="https://i.postimg.cc/z37bF4jh/Untitled-design-3.png" alt="Schedule Maker">
        <br>
        Schedule Maker
    </a> <br>
    
    <a href="{% url 'professor_select:course_select' %}" class="box-cell box3">
        <img src="https://i.postimg.cc/ppNW8CNj/Untitled-design-4.png" alt="Rate a Professor">
        <br>
        Rate a Professor
    </a>

{% endblock %}
