{% extends 'base.html' %}

{% block title %}Landing Page{% endblock %} 

{% block content %}

    {# the links to other html files #}
    <div class = links>
        <l> <b>BlueJobs </b> </l>
        <a href="{% url 'landing_page:about' %}">About </a>
        <a href="{% url 'landing_page:help' %}">Help </a>
        <a href="{% url 'landing_page:developers' %}">Developers </a>
    </div>
    
    <h1>BlueJobs</h1>
    <p> Crafting Your Student Success, <br>
        One Schedule at a Time! </p>
    

    <h1>Home</h1>
    <br>
    <br />
    <br />
    <a href = "{% url 'landing_page:login' %}">Log In</a>
    <a href="{% url 'landing_page:signup' %}">Sign Up</a>
{% endblock %}
