{% extends 'base.html' %}

<!-- Code Written By Christianneil Ocampo -->

{% block content %}

  <ul class="navbar">
    <li><a class="bluejobsnav" href="{% url 'landing_page:home' %}">BlueJobs</a></li>
    <li><a href="{% url 'landing_page:about' %}">About </a></li>
    <li><a href="https://drive.google.com/file/d/1RAUbLkpsCealREPztbqB4lCxjV5NHjib/view?usp=drive_link" target="_blank">Help</a></li>
    <li><a href="{% url 'landing_page:developers' %}">Developers </a></li>
    <li><a href="#"></a></li>
  </ul> 

  <form class="login" method="post">
    {% csrf_token %}
    {{ form.email.as_hidden }}
    {{ form.password.as_hidden }}

    <h2>Log in to BlueJobs</h2>
    {% if error %}
    <p>⚠︎ {{ error }}</p>
    {% endif %}
    <br>
    <input type="text" placeholder="Email Address" name="email" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <input type="submit" value="Log In" />
    <div class="links">
      <a href="{% url 'landing_page:signup' %}">Create an Account</a>
    </div>
  </form>

  <a href="{% url 'landing_page:home' %}" class="back-arrow">
    <i class="fas fa-arrow-left"></i>
  </a>

{% endblock %}