{% extends 'base.html' %}
{% load static %}

{% block title %}Student Login{% endblock %} 
{% block content %}

    {# the links to other html files #}
    <div class = links>
        <l> <b>BlueJobs </b> </l>
        <a href="{% url 'landing_page:about' %}">About </a>
        <a href="{% url 'landing_page:help' %}">Help </a>
        <a href="{% url 'landing_page:developers' %}">Developers </a>
    </div>

    <h2>Log in to BlueJobs</h2>

    <form method="post" action="{% url 'login-student' %}">
        {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Log In</button>
    </form>

   <a href="{% url 'landing_page:signup-student' %}"><button>Sign Up</button></a>

    <br>

    <a href="{% url 'landing_page:index' %}"><button> &#8592; </button></a>

{% endblock %}

