{% extends 'base.html' %}

<!-- Code Written By Christianneil Ocampo -->

{% block content %}

<ul class = "navbar">
  <li><a class="bluejobsnav" href="{% url 'landing_page:home' %}">BlueJobs</a></li>
  <li><a href="{% url 'landing_page:about' %}">About </a></li>
  <li><a href="https://drive.google.com/file/d/1RAUbLkpsCealREPztbqB4lCxjV5NHjib/view?usp=drive_link" target="_blank">Help</a></li>
  <li><a href="{% url 'landing_page:developers' %}">Developers </a></li>
  <li><a href="#"></a></li>
</ul> 

<div class = "signup-choose">
  <h2>Sign up for free</h2>
  <p class="lead">Select the type of account you want to create</p>
  <a href = "{% url 'landing_page:signup-student' %}">
    <button class="button">Student</button> &nbsp;&nbsp;&nbsp;&nbsp;
  </a>
  <a href="{% url 'landing_page:signup-department' %}">
      <button class="button">Department</button>
  </a>
</div>

<a href="{% url 'landing_page:login' %}" class="back-arrow">
  <i class="fas fa-arrow-left"></i>
</a>

{% endblock %}