{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <!-- form fields -->
    <div class="fieldWrapper">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>
  
    <div class="fieldWrapper">
        {{ form.student_ID.label_tag }}
        {{ form.student_ID }}
    </div>

    <div class="fieldWrapper">
      {{ form.student_name.label_tag }}
      {{ form.student_name }}
    </div>

     <div class="fieldWrapper">
      {{ form.degree_program.label_tag }}
      {{ form.degree_program }}
    </div>
  
    <div class="fieldWrapper">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
    </div>

    <div class="fieldWrapper">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
    </div>

    <!-- error messages -->
    {% for error in form.password1.errors %}
     {{ error }} <br> {% endfor %}

    {% for error in form.password2.errors %}
      {{ error }} <br> {% endfor %}

    <br>
    <button type="submit">Sign Up</button>

    </form>

    <a href="{% url 'landing_page:signup' %}"><button> &#8592; </button></a>


{% endblock %}