{% extends 'base.html' %}

<!-- Code Written By Christianneil Ocampo and Tanya Yotoko -->

{% block content %}

    <ul class="navbar">
      <li><a class="bluejobsnav" href="{% url 'landing_page:home' %}">BlueJobs</a></li>
      <li><a href="{% url 'landing_page:about' %}">About </a></li>
      <li><a href="https://drive.google.com/file/d/1EDwQv7JSJN1zcOmFLoDLm2KkGK_FGPL0/view?usp=drive_link" target="_blank">Help</a></li>
      <li><a href="{% url 'landing_page:developers' %}">Developers </a></li>
      <li><a href="#"></a></li>
    </ul> 
  
    <form class="signup" method="post">
      {% csrf_token %}
      {{ form.student_name.as_hidden }}
      {{ form.email.as_hidden }}
      {{ form.student_ID.as_hidden }}
      {{ form.degree_program.as_hidden }}
      {{ form.password1.as_hidden }}
      {{ form.password2.as_hidden }}

      <h2>Create a Student Account</h2>

      <div class="row">
        <div class="col1">
          <input type="text" placeholder="Student Name" name="student_name"/>
        </div>
        <div class="col2">
          <input type="text" placeholder="ID Number" name="student_ID"/>
        </div>
      </div>
      <div class="row">
        <div class="col1">
          <input type="text" placeholder="Email Address" name="email"/>
        </div>
        <div class="col2">
          <input type="text" placeholder="Degree Program" name="degree_program"/>
        </div>
      </div>
      <input type="password" placeholder="Password" name="password1"/>
      <input type="password" placeholder="Confirm Password" name="password2"/>
      

      {% for error in form.password1.errors %}
      <p>⚠︎ {{ error }}</p> 
      {% endfor %}

      {% for error in form.password2.errors %}
      <p>⚠︎ {{ error }}</p> 
      {% endfor %}

      {% if error %}
      <p>⚠︎ {{ error }}</p> 
      {% endif %}

      <input type="submit" value="Sign Up"/>

    </form>
  
    <a href="{% url 'landing_page:signup' %}" class="back-arrow">
      <i class="fas fa-arrow-left"></i>
    </a>

{% endblock %}